<div class="wrapper">
    <div class="sidebar-top">
        <p class="welcome">Welcome To LMS</p>
        <p>{{this.name}}</p>
        <p>ID: {{this.accountId}}</p>
        <p>{{this.status}}</p>
    </div>

    <div class="sidebar-bottom">

        <div class="classes">
            <div 
                *ngFor="let class of classes"
                class="class"
                [ngClass]="{'class-selected': class.id === selectedClassId}"
                (click)="setSelectedClass(class.id)"
            >
                <p>{{class.class_name}}</p>
            </div>
        </div>

        <div class="buttons">
            <button class="new-class-button" (click)="goToNewClassPage()">Add New Class</button>
            <button class="logout-button" (click)="logout()">Log out</button>
        </div>

    </div>
</div>