<div class="wrapper">
  <div>

    <form class="new-grade-wrapper" *ngIf="accountStatus == 'Teacher'">
      <div>
        <label for="student_id">Student ID:</label>
        <input type="text" id="student_id" placeholder="ID...">
      </div>

      <div>
        <label id="grade">Grade [0-10]:</label>
        <input type="number" max="10" min="0" placeholder="0">        
      </div>

      <div>
        <label for="comment">Comment:</label>
        <input type="text" placeholder="Comment..." id="comment"> 
      </div>

      <button>Add Grade</button>
    </form>


    <div class="grade-data-wrapper" *ngIf="accountStatus =='Teacher'">
      <div *ngIf="selectedGrade != undefined">
        <p>{{selectedGrade.grade}}</p>
        <p>{{selectedGrade.comment}}</p>
        <p>{{selectedGrade.date}}</p>    
      </div>
      <p *ngIf="selectedGrade === undefined">Hover on grade to see grade info</p>
    
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th *ngIf="accountStatus == 'Teacher'">Grades</th>
          <th *ngIf="accountStatus == 'Teacher'">Add Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of class_members">
          <ng-container *ngIf="!isOwner(member)">
            <td><p>{{ member.member_id }}</p></td>
            <td><p>{{ member.member_name }}</p></td>
            <td *ngIf="accountStatus == 'Teacher'">
              <p>
                <ng-container *ngFor="let gradeObj of member.member_grades; let last = last">
                  <p (mouseenter)="setSelectedGrade(gradeObj)" (mouseleave)="setSelectedGrade(undefined)">
                    {{ gradeObj.grade }} <span *ngIf="!last"> | </span>
                  </p>                                  
                </ng-container>
              </p>
            </td>
            <td *ngIf="accountStatus == 'Teacher'">
              <div class="flex-center">
                <button>Select ID</button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>