<div class="wrapper">
  <div>
    <div class="grade-data-wrapper">
      <p>10</p>
      <p>Acted Nicely</p>
      <p>Sunday, 22 October, 2022</p>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th *ngIf="accountStatus == 'Teacher'">Grades</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of class_members">
          <ng-container *ngIf="!isOwner(member)">
            <td>{{ member.member_id }}</td>
            <td>{{ member.member_name }}</td>
            <td *ngIf="accountStatus == 'Teacher'">
              <p>
                <ng-container *ngFor="let gradeObj of member.member_grades; let last = last">
                  {{ gradeObj.grade }}
                  <span *ngIf="!last"> | </span>
                </ng-container>
              </p>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>