@import '../../../../shared/colors.scss';

.wrapper {
    background-color: bisque;
    height: calc(100% - 70px);
    max-height: calc(100% - 70px);
    overflow-y: auto;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding-top: 50px;
        padding-bottom: 30px;
        overflow-y: auto;
    }
}

table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    font-family: "Knewave", cursive;
    border: 2px solid white;

    max-height: 500px;
    height: fit-content;

    @media (max-width: 620px) {
        width: 90%;
    }
}

tbody {
    display: block;
    max-height: 500px;
    overflow-y: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    background-color: $primary-color;
}

.short{
    width: calc(100% - 1em);

}

th {
    color: white;
    font-weight: 100;
}

td {
    background-color: white;
}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid rgb(126, 126, 126);
    overflow-wrap:break-word;

    p {
        display: inline;
        cursor: default;
    }

    button {
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 4px;
        padding: 3px 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: "Lato";
        color: white;
        background-color: $primary-color;
        width: 80%;
        height: 90%;
    }
}

.grade-data-wrapper {
    width: 100%;
    max-width: 300px;
    height: 100px;
    max-height: 110px;
    overflow-y: auto;
    background-color: beige;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
        width: 90vw;
        max-width: 100vw;
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        font-family: "Lato";

        &:first-of-type {
            font-size: 20px;
            font-weight: bolder;
            color: $primary-color;
        }

        &:nth-of-type(2) {
            margin-bottom: 5px;
        }

        &:nth-of-type(3) {
            font-size: 13px;
            font-weight: bold;
            color: $primary-color;
        }
    }
}


.flex-center{
    display: flex;
    justify-content: center;
}