<div class="wrapper">
  <div>

    <div class="grade-data-wrapper" *ngIf="accountStatus =='Teacher'">
      <div *ngIf="selectedGrade != undefined">
        <p>{{selectedGrade.grade}}</p>
        <p>{{selectedGrade.comment}}</p>
        <p>{{selectedGrade.date}}</p>    
      </div>
      <p *ngIf="selectedGrade === undefined">Hover on grade to see grade info</p>
    
    </div>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th *ngIf="accountStatus == 'Teacher'">Grades</th>
          <th *ngIf="accountStatus == 'Teacher'">Add Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of class_members">
          <ng-container *ngIf="!isOwner(member)">
            <td><p>{{ member.member_id }}</p></td>
            <td><p>{{ member.member_name }}</p></td>
            <td *ngIf="accountStatus == 'Teacher'">
              <p>
                <ng-container *ngFor="let gradeObj of member.member_grades; let last = last">
                  <p (mouseenter)="setSelectedGrade(gradeObj)" (mouseleave)="setSelectedGrade(undefined)">
                    {{ gradeObj.grade }} <span *ngIf="!last"> | </span>
                  </p>                                  
                </ng-container>
              </p>
            </td>
            <td *ngIf="accountStatus == 'Teacher'">
              <div class="flex-center">
                <button (click)="setSelectedId(member.member_id)">Select ID</button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <app-new-grade-form 
    *ngIf="accountStatus == 'Teacher'"
    [selectedStudentId]="selectedStudentId"
    (selectedStudentChangeEvent)="setSelectedId($event)"
    ></app-new-grade-form>

    <app-add-student-form
    *ngIf="accountStatus == 'Teacher'"
    ></app-add-student-form>
  </div>
</div>