<div class="page-wrapper">
    <div class="top">
        <button (click)="goToMain()">
            <img src="../../../../../assets/images/arrow-left-solid.svg">
        </button>
    </div>
    <div class="form-container">
        <form [formGroup]="classForm" (ngSubmit)="addClass()">
            <label for="classroom-name">Enter New Classroom Name: </label>
            <input autocomplete="additional-name" formControlName="name" type="text" id="classroom-name" placeholder="Name...">
            <button [disabled]="!classForm.valid" type="submit">Add New Class</button>
        </form>
        <div>
            <p>In order to create a new classroom all you need to do is to write new classroom name. When you do that you will be redirected to newly created classroom, where you can add students. Students can be added with their ID's. So, each student must create a student account and provide you with their generated id. Then you can add them in classroom, publish posts and grade students.</p>
        </div>
    </div>
</div>