@import '../../../../shared/colors.scss';

.wrapper{
    width: 100%;

    height: calc(100% - 70px);

    background-color: bisque;

    display: grid;
    grid-template-rows: max-content max-content;
    row-gap: 20px;

    padding-top: 20px;
    padding-bottom: 40px;

    overflow-y: auto;


    >div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .posts-header-wrapper{
        height: auto;

        .post-header{
            width: 700px;
            max-width: 700px;
            background-color: #3b24ba;
            border-radius: 25px;
            display: grid;
            grid-template-columns: 1fr 57%; 
            overflow: hidden;

            .header-texts{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                background-color: $side-bar-blue;
                height: 100%;

                font-family: "Knewave";
                font-size: 30px;
                color: white;

                .classname{
                    color: $primary-color;
                }
            }

            >img{
               width: 100%;
            }
        }
    }

    .feed-wrapper{
        width: 100%;

        .feed{
            width: 700px;
            max-width: 700px;

            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.post{
    display: grid;
    grid-template-columns: 70px 1fr;
    min-height: 70px;
    position: relative;
    
    background-color: white;
    
    border: 3px solid $primary-color;
    border-radius: 15px;

    overflow: hidden;

    .icon-container{
        position: relative;;

        >div{
            position: absolute;

            left: 50%;
            top: 5px;
            transform: translateX(-50%);
            
            width: 60px;
            height: 60px;

            border-radius: 50%;
            background-color: $side-bar-blue;

            display: flex;
            justify-content: center;
            align-items: center;
            
            > img{
                transform: translateY(3px);
            }
        }
    }

    .post-texts{
        display: flex;
        flex-direction: column;

        padding: 5px 8px;

        font-family: "Lato";

        >p{
            &:first-of-type{
                color: $side-bar-blue;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 3px;
            }

            &:nth-of-type(2){
                text-align: justify;
                color: #8B9195;
                font-size: 15px;
                margin-bottom: 3px;
            }

            &:nth-of-type(3){
                color: #CED6DB;
                font-size: 14px;
            }
        }
    }

    &:hover{
        border-color: $side-bar-blue;
        cursor: default;
    }
    
}

