.wrapper{
    width: 100%;
    min-height: 400px;

    max-height: calc(100vh - 70px);

    display: grid;
    grid-template-rows: auto auto;
    row-gap: 10px;

    padding-top: 20px;

    overflow-y: auto;


    >div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .posts-header-wrapper{
        height: auto;

        .post-header{
            height: 100%;
            width: 700px;
            max-width: 700px;
            background-color: #3b24ba;
            border-radius: 25px;
            display: grid;
            grid-template-columns: 1fr 57%; 
            overflow: hidden;

            .header-texts{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                background-color: #7CD0FF;
                height: 100%;

                font-family: "Knewave";
                font-size: 30px;
                color: white;

                .classname{
                    color: #8D83C2;
                }
            }

            >img{
               width: 100%;
            }
        }
    }

    .feed-wrapper{
        width: 100%;

        .feed{
            width: 700px;
            max-width: 700px;
            height: 900px;
            background-color: violet;
        }
    }

}

