<div class="wrapper">
    <div class="posts-header-wrapper">
        <div class="post-header">
            <div class="header-texts">
                <p>Welcome to <br><span class="classname">{{this.classroomData?.class_name}} Class</span></p>
            </div>
            <img src="../../../../../assets/images/posts.png">
        </div>
    </div>

    <div class="post-form-container">
        <form class="post-form">
            <p class="new-post-header">Add New Post</p>

            <div>
                <label for="title">Enter Post Title:</label>
                <input class="title-input" type="text" id="title" autocomplete="additional-name" placeholder="Title...">
            </div>

            <div>
                <label for="post-text">Write Post:</label>
                <textarea id="post-text" placeholder="Post..."></textarea>
            </div>

            <button>Post</button>
        </form>
    </div>

   <div class="feed-wrapper">
        <div class="feed">
            <div class="post" *ngFor="let post of classroomData?.class_posts">
                <div class="icon-container">
                    <div>
                        <img src="../../../../../assets/images/teacher-post-icon.png">
                    </div>
                </div>
                <div class="post-texts">
                    <p>{{post.post_title}}</p>
                    <p>{{post.post_text}}</p>
                    <p>{{post.post_date}}</p>
                </div>
            </div>
        </div>
   </div>
</div>