<form [formGroup]="gradeForm" class="new-grade-wrapper" (ngSubmit)="addGrade()">
    <div>
      <label for="student_id">Student ID:</label>
      <input formControlName="studentId" type="text" id="student_id" placeholder="ID...">
    </div>

    <div>
      <label id="grade">Grade [0-10]:</label>
      <input formControlName="grade" type="number" max="10" min="0" placeholder="0">        
    </div>

    <div>
      <label for="comment">Comment:</label>
      <input formControlName="comment" type="text" placeholder="Comment..." id="comment"> 
    </div>

    <button [disabled]="!gradeForm.valid">Add Grade</button>
</form>