/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Knewave';
    src: url('./assets/fonts/Knewave-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  