<div class="post-form-container">
    <form class="post-form">
        <p class="new-post-header">Add New Post</p>

        <div>
            <label for="title">Enter Post Title:</label>
            <input class="title-input" type="text" id="title" autocomplete="additional-name" placeholder="Title...">
        </div>

        <div>
            <label for="post-text">Write Post:</label>
            <textarea id="post-text" placeholder="Post..."></textarea>
        </div>

        <button>Post</button>
    </form>
</div>